@import "../../../node_modules/koiki-ui/less/button.less";
@import "variables.less";
@import "animations.less";
@import "progress.less";

.container {
	width: auto;
}

.button{
	background-color: @light-primary;
	color: @third;
	box-shadow: @shadow;
}

.primary {
	background-color: @light-primary;
	color: @third;
}

.secondary {
	background-color: @light-secondary;
	color: @third;
}

.third {
	background-color: @light-third;
	color: @third;
}

.container .disabled {
	background-color: @hai;
	color: @third;
}
