@import "variables.less";

.description{
  height: 10em !important;
  width: 100%;
  font-size: 1.1em !important;
}

.url{
  width: 100%;
}

.remove{
  margin: auto;
}


@media (max-width: @small-max-width){
  .url{
    margin-left: 10px !important;
  }
}
