@import "variables.less";
@import "checkbox.less";
@import "cm-beam.less";
@import "cm-moon.less";
@import "cm-reorder.less";

.clearfix:after{
  content: "." !important;
  display: block !important;
  height: 0 !important;
  font-size:0 !important;
  clear: both !important;
  visibility:hidden !important;
}

.input{
  color: @input !important;
  border: @input-border !important;
  font-family: 'PT Sans' !important;
  -webkit-appearance: none !important;;
}
.input:focus {
  color: @focus-input !important;
  background-color: @focus-input-back !important;
  border: @focus-input-border !important;
  outline: none !important;;
}

.cm-selectbox {
  max-width: 100px !important;
  color: @selectbox !important;
}

.container{
  overflow-x: hidden !important;;
  position: relative !important;;
}

.cm-main{
  background: linear-gradient(135deg, @main-back-from, @main-back-to) !important;;
}

.cm-symbolic{
  text-align: center !important;;
  padding: 20px !important;;
  margin:auto !important;;
  background-color: @nav-back !important;;
  border-radius: 5px !important;;
}

.cm-title{
  color: @title-text!important;
}

.cm-lead{
  color: @title-text!important;
}

.cm-navbar{
  background: none !important;
  padding: 10px 15px !important;
}

.cm-navlink{
  color: @nav-text!important;
}
.cm-navlink:hover{
  background-color: @link-hover-back!important;
}

.cm-nav-active>a{
  background-color: @nav-back!important;
}

.cm-grid{
  margin-top: 0px !important;
  margin-bottom: 120px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  max-width: 100% !important;
  float: right !important;
  margin-left: 20% !important;
  width: 80% !important;
}

.cm-attribute-text,
.cm-record-text{
  display: none !important;
  color: @attr-text !important;
  box-sizing: border-box !important;
  padding-left: 30px !important;
  margin: auto !important;
}

.cm-attribute-value,
.cm-record-value{
  width: 100% !important;
  box-sizing: border-box !important;
}

.cm-record-input{
  width: 90% !important;
}

@media (max-width: @small-max-width){
  .cm-trash-button{
    margin-right: 0 !important;
  }
  .cm-main{
    transform: none !important;
    transition: transform 0.2s ease !important;
  }
  .cm-open-main{
    transform: translateX(75%) !important;
    transition: transform 0.2s ease !important;
  }
  .cm-grid{
    max-width: 980px !important;
    padding-right: 0px !important;
    float: none !important;
    margin-left: -25px !important;
    width: 100% !important;
  }
  .cm-handle{
    display: none !important;
  }
  .cm-table{
    margin-top: 25px !important;
  }
  .cm-table tr{
    display: table !important;
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .cm-attribute-text,
  .cm-record-text{
    display: block !important;
    width: 30% !important;
    text-align: left !important;
  }
  .cm-attribute-value,
  .cm-record-value{
    width: 70% !important;
  }
  .cm-table thead {
    display: none !important;
  }
  .cm-table tr td{
    border-left: none !important;
    float: left !important;
    clear: both !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-right: none !important;
  }
  .contents{
    position: static !important;
    padding-right: 0px !important;
    min-height: 340px !important;
  }
  .cm-delete-button-text{
    display: none !important;
  }
}

.cm-nav-header-link{
  padding-left: 15px !important;
}

.contents{
  padding-top: 25px !important;
  padding-right: 25px;
  min-height: 400px !important;
  right: 0px !important;
  width: 100% !important;
}

.cm-table {
  color: @table-text !important;
}

.cm-table tr td{
  padding: 8px 8px;
  vertical-align: middle !important;
  border: 1px solid #eee;
  color: @table-td-text !important;
  font-size: 1.1em !important;
}

.cm-table.uk-table-striped tbody tr:nth-of-type(odd){
  background: #fdfdfd !important;
}
.cm-table.uk-table-hover tbody tr:hover {
  background: #FFFDBD !important;
}

.cm-table i{
  color: @i-text !important;
}

.cm-table tr td.cm-row-plus{
  padding: 4px 0px !important;
}

.cm-table tfoot tr td{
  border: none !important;
}

.cm-table tbody tr:nth-of-type(odd) {
    background: @odd !important;
}

.cm-table tbody tr:nth-of-type(even) {
    background: @even !important;
}

a.cm-nav-plus{
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  text-align: center !important;
  background-color: @plus-back !important;
  color: @plus-text !important;
  padding: 12px 0px !important;
  box-sizing: border-box !important;
}

a.cm-nav-plus:hover{
  background-color: @plus-hover-back !important;
}

button.cm-row-plus{
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  text-align: center !important;
  background-color: @plus-back !important;
  color: @plus-text !important;
  padding: 6px 0px !important;
}

button.cm-row-plus i{
  color: @plus-text !important;
}

button.cm-row-plus:hover{
  background-color: @plus-hover-back !important;
}

.cm-parent-attribution{
  margin-bottom : 0px !important;
  margin-top: 10px !important;
}

.cm-icon{
  margin-right: 5px !important;
}
.cm-icon-pattern{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.hide{
  display: none!important;
}

@keyframes drop{
  0%{
    opacity: 0.6 !important;
  }
  50%{
    transform:scale(1.1,1.1) translate3d(0,0,0) !important;
  }
  100%{
    opacity: 1 !important;
  }
}

.cm-drag{
  opacity: 0.6 !important;
}

.cm-drop{
  opacity: 1 !important;
}


.cm-button{
  margin-right: 10px !important;
}

.cm-danger-button{
  background-color: @danger-back !important;
  color: @danger-text !important;
}

.cm-modal-open{
  display: block !important;
  overflow-y: auto !important;
}

.loading{
  opacity: 0 !important;
  transition-property: opacity !important;
  transition-duration:0.15s !important;
  transition-timing-function:ease-in-out !important;
}

.loaded{
  opacity: 1 !important;
  transition-property: opacity !important;
  transition-duration:0.15s !important;
  transition-timing-function:ease-in-out !important;

}
