@import "variables.less";

.footer {
  background-color: @primary;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 3em;
  font-size: 1.5em;
}

.year {
  color: @third;
  font-size: 0.8em;
}
