/** color scheme */
@vice-white-color: #FFFFF1; //#D9D6EA;
@vice-semi-white-color: #FFFFFC;// #CAC5E8;
@vice-light-color: #82AE46; //#C3BCE8;
@vice-normal-color: #82AE46; //#968BCE;
@vice-dark-color: #514299;

@white: #F5F5F5;
@light: #82AE46; //#666666;
@light-dark: #AACF53; //#444449;
@semi-light-dark: #B0CA71; //#333339;
@dark: #F8FBF8; //#222229;
@sakura: #FEF4F4;
@shinju: #FFFFF1;
@kikyo: #5654A2;
@black: #FFFFFC; //#111119;
@fujimurasaki: #A59ACA;
@red: #da314b;
@momohana: #E198B4;
@hisoku: #ABCED8;
@hiwamoegi: #82AE46;
@shirosumire: #EAEDF7;
@unohana: #F7FCFE;
@gofun: #FFFFFC;
@shironeri: #F3F3F2;
@koubai: #F2A0A1;
@usukoubai: #E597B2;
@shirayuri: #DEF3DE;
@byakuroku: #D6E9CA;
@niji: #F6BFBC;
@moegi: #AACF53;
@maso: #EC6D71;
@wasurenagusa: #89C3EB;
@sumi: #171917;
@sora: #A0D8EF;
@shironezu: #DCDDDD;
@tsuyukusa: #38A1DB;
@ama: #2CA9E1;
@aenka: #F6FBF6;
@hai: #7D7D7D;
@usuzakura: #FDEFF2;
@shiraume: #EFE0E8;
@otome: #F3CCCC;

// base-color
@base-color: @hiwamoegi;

/** ui color */

// main
@main-back-from: @otome;
@main-back-to: @sakura;

// apps
@app-lead: @moegi;
@app-candidate: @shironezu;
@app-input: @moegi;
@app-input-placeholder: @gofun;
@app-card: @moegi;
@app-glass-back: @shirayuri;
@app-glass-border: @shirayuri;
@app-card-back: @gofun;
@app-card-border: @moegi;
@app-card-hover: @gofun;
@app-card-hover-back: @moegi;
@app-card-hover-border: @gofun;

// footer
@footer-text: @hai;
@footer-back-from: @niji;
@footer-back-via: @gofun;
@footer-back-to: @gofun;
@footer-border: @niji;

//input
@selectbox: @hai;
@input: @hai;
@input-border: 1px solid @shironezu;
@focus-input: @hai;
@focus-input-back: @gofun;
@focus-input-border: 1px solid @wasurenagusa;

// navigations
@nav-header-text: @vice-normal-color;
@nav-header-center: @ama;
@nav-text: @base-color;
@nav-back: @black;
@nav-active-back: @light;
@link-text: @vice-light-color;
@link-hover-back: @light-dark;
@plus-back: @semi-light-dark;
@plus-text: @black;
@plus-hover-back: @light-dark;
@plus-hover-text: @light-dark;

// contents
@html-text: @base-color;
@html-back: @dark;
@title-text: @ama;
@danger-text: @white;
@danger-back: @red;

// table
@odd: @aenka;
@even: @vice-semi-white-color;
@i-text: @hai;
@attr-text: @hai;
@table-text: @hai;
@table-td-text: @hai;
@checked: @moegi;

// beam
@beam: @white;

// overlay
@overlay: @white;


@ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
@ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);

@small-max-width: 767px;
