/** color scheme */

@primary: #595455;
@secondary: #B3ADA0;
@third: #FFFFFC;
@fourth: #DCDDDD;

@light-primary: #8DB530;
@light-secondary: #F98890;
@light-third: #9093E0;

@dark-primary: #E1F6B0;
@dark-secondary: #F3CCCC;
@dark-third: #DBD0E6;

@white: #F5F5F5;
@light: #82AE46; //#666666;
@light-dark: #AACF53; //#444449;
@semi-light-dark: #B0CA71; //#333339;
@dark: #F8FBF8; //#222229;
@shinju: #FFFFF1;
@kikyo: #5654A2;
@black: #FFFFFC; //#111119;
@fujimurasaki: #A59ACA;
@red: #da314b;
@momohana: #E198B4;
@hisoku: #ABCED8;
@hiwamoegi: #82AE46;
@shirosumire: #EAEDF7;
@unohana: #F7FCFE;
@gofun: #FFFFFC;
@shironeri: #F3F3F2;
@koubai: #F2A0A1;
@usukoubai: #E597B2;
@shirayuri: #DEF3DE;
@byakuroku: #D6E9CA;
@niji: #F6BFBC;
@moegi: #AACF53;
@maso: #EC6D71;
@wasurenagusa: #89C3EB;
@sumi: #171917;
@sora: #A0D8EF;
@shironezu: #DCDDDD;
@tsuyukusa: #38A1DB;
@ama: #2CA9E1;
@aenka: #F6FBF6;
@hai: #7D7D7D;
@sakura: #FEF4F4;
@usuzakura: rgb(255, 201, 213);
@shiraume: #EFE0E8;
@otome: #F3CCCC;
@ouchi: #a596c7;
@konparu: #5AC2D9;

// base-color
@base-color: @hiwamoegi;

/** ui color */

// main
@main-back-from: @sakura;
@main-back-to: @usuzakura;

// apps
@app-lead: @konparu;
@app-candidate: @shironezu;
@app-input: @moegi;
@app-input-placeholder: @gofun;
@app-card: @moegi;
@app-glass-back: @shirayuri;
@app-glass-border: @shirayuri;
@app-card-back: @gofun;
@app-card-border: @moegi;
@app-card-hover: @gofun;
@app-card-hover-back: @moegi;
@app-card-hover-border: @gofun;

// footer
@footer-text: @hai;
@footer-back-from: @niji;
@footer-back-via: @gofun;
@footer-back-to: @gofun;
@footer-border: @niji;
@top-cloud-back: @gofun;
@bottom-cloud-back: @niji;
@top-hide-back: @gofun;
@bottom-hide-back: rgb(247, 206, 204);

//input
@selectbox: @hai;
@input: @hai;
@input-border: 1px solid @shironezu;
@focus-input: @hai;
@focus-input-back: @gofun;
@focus-input-border: 1px solid @wasurenagusa;

// navigations
@header-back: @gofun;
@nav-header-text: @konparu;
@nav-header-center: @konparu;
@nav-text: @base-color;
@nav-back: @black;
@nav-active-back: @light;
@link-text: @gofun;
@link-hover-back: @light-dark;
@plus-back: @semi-light-dark;
@plus-text: @black;
@plus-hover-back: @light-dark;
@plus-hover-text: @light-dark;

// contents
@html-text: @base-color;
@html-back: @dark;
@title-text: @konparu;
@danger-text: @white;
@danger-back: @red;

// table
@odd: @aenka;
@even: @hai;
@i-text: @hai;
@attr-text: @hai;
@table-text: @hai;
@table-td-text: @hai;
@checked: @moegi;

// beam
@beam: @white;

// overlay
@overlay: @white;


@ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
@ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);

@small-max-width: 767px;
@shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
@small-shadow: rgba(100, 100, 100, 0.1) 0px 1px 1px, rgba(100, 100, 100, 0.1) 0px 1px 1px;
